.footer {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    line-height: 1;
    font-weight: 200;
    font-size: 14px;
}