.auth-back-btn {
    position: absolute;
    left: 40px;
    top: 40px;
    z-index: 99;
}

.auth-back-btn-icon {
    width: 20px;
    height: auto;
    fill: var(--text-color);
    rotate: 180deg;
}
.auth-back-btn-text {
    padding-left: 10px;
    color: var(--text-color);
    cursor: pointer;
}
.auth-card {
    position: absolute;
    align-self: center;
    height: 100%;
    width: 40%;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 0;
}
.auth-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}
.auth-form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.auth-form-buttons Button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    backdrop-filter: none;
    border-radius: 0;
    transition: none;
}

.auth-form-buttons .active {
    border-bottom: #646cff solid 1px;
}

.auth-form-buttons Button:hover {
    background-color: var(--btn-bg-color);
    transform: scale(1);
}


.auth-form-login {
    align-self: flex-start;
}

.auth-form-register {
    align-self: flex-start;
}

.auth-form-forgot-password {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.auth-card-footer {
    position: absolute;
    width: 40%;
    right: 0;
}

@media (max-width: 800px)  {
    .auth-card {
        width: 100%;
    }
    .auth-card-footer {
        right: auto;
    }
}