.input {

}

.label {
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    backdrop-filter: blur(40px);
    color: var(--text-color);
    background-color: var(--btn-bg-color);
    cursor: pointer;
    transition: border-color 0.25s;
    outline: none;
}

.label:active {
    border-color: #646cff;
}