.header {
    position: sticky !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
}
.header__container {
    max-width: 1076px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}