.btn {
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 0.8em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: var(--text-color);
    background-color: var(--btn-bg-color);
    backdrop-filter: blur(40px);
    cursor: pointer;
    transition: border-color 0.25s, transform 0.25s;
    height: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.btn:hover {
    border-color: var(--btn-border-color);
    transform: scale(1.1);
}

.btn:active {
    transform: scale(0.95);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}