.logo {
    display: flex;
    height: 62px;
    width: 200px;
    text-decoration: none;
}

.label {
    cursor: pointer;
    color: var(--text-color);
    text-decoration: none;
    line-height: var(--text-line-height);
    padding-left: 10px;
    font-weight: 600;
    text-align: left;
}