:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --text-line-height: 1.3;
  color: var(--text-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] {
  background: linear-gradient(45deg, #3f3847 0%, #323232 50%, #3f3847 100%);

  --link-text-color: rgb(199, 80, 205);
  --text-color: #FFFFFFDD;
  --background-color: #242424;
  --btn-bg-color: rgba(90, 90, 90, 0.3);
  --btn-border-color: #646cff;
}

[data-theme="light"] {
  background: linear-gradient(45deg, #ffffff 0%, #dcdcdc 50%, #ffffff 100%);

  --link-text-color: rgba(178, 72, 184, 0.87);
  --text-color: #213547;
  --background-color: #ffffff;
  --btn-bg-color: rgb(255,255,255,0.3);
}

#wrapper {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  align-items: center;
}

body {
  padding: 0;
  margin: 0;
}